li {
    margin-bottom: 1em;
    color: #990000;
}

#heading {
    color: #424E6F;
}

ul p {
    color: #424E6F;
    font-size: .9em;
}

a:link {
    font-size: .9em;
    display: inline-block;
    padding-bottom: 2em;
}

